
.grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 60px 50px 1fr 50px 100px;
    grid-template-areas: 
        'header header header'
        'left-bar banner right-bar'
        'left-bar main right-bar'
        'left-bar lower-banner right-bar'
        'footer footer footer';
    gap: 10px;
    background-color: red;
}

/* areas */s
.header { grid-area: header; grid-column: 1/4  }
.left-bar { grid-area: left-bar; }
.banner { grid-area: banner; }
.main { grid-area: main; }
.right-bar { grid-area: right-bar; }
.lower-banner { grid-area: lower-banner; }
.footer { grid-area: footer; }

.grid-item {
    background: #ccc;
}